<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" th:href="@{~/css/style.css}">

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
         
    <nav>
        <img th:src="@{~/Images/logo.png}" alt="no">
        <div class="navigation">
            <ul>
                <i id="menu-close" class="fas fa-times"></i>
                <li><a th:href="@{~/user/homepage}">Home</a></li>
                <li><a th:href="@{~/user/about}">About</a></li>
                <li><a class="active" th:href="@{~/user/blog}">Blog</a></li>
                <li><a th:href="@{~/user/courseslist}">Courses</a></li>
                <li><a th:href="@{~/user/contact}">Contact</a></li>
                <li><a th:href="@{~/user/newlogin}">Profile</a></li>
            </ul>
            <img id="menu-btn" src="images/menu.png" alt="">
        </div>
  
      </nav>
            <!--Home-->
            <section id="about-home">
              <h2> Blog</h2>
             
            </section>

            <section id="blog-container">
                <div class="blogs">
                    <div class="post">
                     <img th:src="@{~/Images/b1.jpg}" src="">
                     <h3>Learn Web Development In The Easiest Way</h3>
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem 
                        eligendi laudantium iure dicta eaque, veritatis rem similique, sapients magnidolorem doloribus quibusdam milestiae alias officiis cum. Tenetur omnis quos harum
                     </p>  
                     <a href="post.html">Read More</a> 
                    </div>
                    <div class="post">
                        <img th:src="@{~/Images/b2.jpg}" src="">
                        <h3>Learn App Development In The Easiest Way</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem 
                           eligendi laudantium iure dicta eaque, veritatis rem similique, sapients magnidolorem doloribus quibusdam milestiae alias officiis cum. Tenetur omnis quos harum
                        </p>  
                        <a href="post1.html">Read More</a> 
                       </div>
                       <div class="post">
                        <img th:src="@{~/Images/b3.jpg}" src="">
                        <h3>Learn Software Development In The Easiest Way</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem 
                           eligendi laudantium iure dicta eaque, veritatis rem similique, sapients magnidolorem doloribus quibusdam milestiae alias officiis cum. Tenetur omnis quos harum
                        </p>  
                        <a href="post2.html">Read More</a> 
                       </div>
                      
                </div>
                <div class="cate">
                    <h2>Categories</h2>
                    <hr>
                    <a href="#">Web Development</a>
                    <hr>
                    <a href="#">Web Design</a>
                    <hr>
                    <a href="#">App Development</a>
                    <hr>
                    <a href="#">Java Core</a>
                    <hr>
                    <a href="#">Python Programming</a>
                    <hr>
                    <a href="#">Software Development</a>
                    <hr>

                </div>
            </section>



            <footer>
                <div class="footer-col">
                  <h3>Top Products</h3>
                  <li>Manage Reputation</li>
                  <li>Power Tools</li>
                  <li>Managed Website</li>
                  <li>Marketing Service</li>
                  <li>Jobs</li>
                  <li>Marketing Service</li>
                </div>
                <div class="footer-col">
                  <h3>Top Products</h3>
                  <li>Manage Reputation</li>
                  <li>Power Tools</li>
                  <li>Managed Website</li>
                </div>
                <div class="footer-col">
                  <h3>Top Products</h3>
                  <li>Manage Reputation</li>
                  <li>Marketing Service</li>
                </div>
                <div class="footer-col">
                  <h3>Guides</h3>
                  <li>Research</li>
                  <li>Experts</li>
                  <li>Managed Websites</li>
                </div>
                <div class="footer-col">
                  <h3>NewsLetter</h3>
                  <p>You can trust us, we only send promo offers</p>
                  <div class="subscribe">
                    <input type="text" placeholder="Your Email Address">
                    <a href="#" class="yellow">Subscribe</a>
                  </div>
          
                </div>
          
             
          
          
              </footer>    
        
    
</body>
</html>