<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" th:href="@{~/css/style.css}">

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
         
    <nav>
        <img th:src="@{~/Images/logo.png}" alt="no">
        <div class="navigation">
            <ul>
                <i id="menu-close" class="fas fa-times"></i>
                <li><a th:href="@{~/user/homepage}">Home</a></li>
                <li><a th:href="@{~/user/about}">About</a></li>
                <li><a class="active" th:href="@{~/user/blog}">Blog</a></li>
                <li><a th:href="@{~/user/courseslist}">Courses</a></li>
                <li><a th:href="@{~/user/contact}">Contact</a></li>
                <li><a th:href="@{~/user/newlogin}">Profile</a></li>
            </ul>
            <img id="menu-btn" th:src="@{~/Images/menu.png}" alt="">
        </div>
  
      </nav>
      
      <section id="blog-container">
        <div class="blogs blogpost">
            <div class="post">
                <img th:src="@{~/Images/b1.jpg}">
                <h3>Learn Web Development in a Easiest Way</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse aut! Voluptatem sequi dolore doloribus. Maiores perspiciatis necessitatibus voluptatem non quis, vero ea cum optio explicabo accusantium recusandae vel libero.
                </p>
                <a href="#">Read Next ?</a>
                
            </div>
        </div>
      </section>



            <footer>
                <div class="footer-col">
                  <h3>Top Products</h3>
                  <li>Manage Reputation</li>
                  <li>Power Tools</li>
                  <li>Managed Website</li>
                  <li>Marketing Service</li>
                  <li>Jobs</li>
                  <li>Marketing Service</li>
                </div>
                <div class="footer-col">
                  <h3>Top Products</h3>
                  <li>Manage Reputation</li>
                  <li>Power Tools</li>
                  <li>Managed Website</li>
                </div>
                <div class="footer-col">
                  <h3>Top Products</h3>
                  <li>Manage Reputation</li>
                  <li>Marketing Service</li>
                </div>
                <div class="footer-col">
                  <h3>Guides</h3>
                  <li>Research</li>
                  <li>Experts</li>
                  <li>Managed Websites</li>
                </div>
                <div class="footer-col">
                  <h3>NewsLetter</h3>
                  <p>You can trust us, we only send promo offers</p>
                  <div class="subscribe">
                    <input type="text" placeholder="Your Email Address">
                    <a href="#" class="yellow">Subscribe</a>
                  </div>
          
                </div>
          
             
          
          
              </footer>    
        
    
</body>
</html>